# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Virtual environment
venv/

# Dataset (DVC managed)
data/*
!data/*.dvc
!data/.gitkeep

# Models (DVC managed)
models/*
!models/*.dvc

# Reports
reports/

# MLflow
mlruns/
mlflow.db
/credit_model_v1.pkl
/reports
