# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Virtual environment
venv/

# Data (DVC managed)
data/*.csv
data/*.xlsx
data/*.parquet
data/*.zip
!data/*.dvc
!data/.gitkeep
# Models (DVC managed)
models/*
!models/*.dvc

# Reports
reports/

# MLflow
mlruns/
mlflow.db

# OS
.DS_Store
Thumbs.db
.vscode