# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Dataset (DVC managed)
data/*
!data/*.dvc
!data/.gitkeep

# Models (DVC managed)
models/*
!models/*.dvc

# Reports
reports/

# MLflow
mlruns/
mlflow.db